{% includeJsResource('roadsign/lib/fuse/fuse.min.js') %}
{% includeJsResource('roadsign/lib/jquery-splendid-textchange/jquery.splendid.textchange.min.js') %}
{% includeJsResource('roadsign/js/Popup.js') %}
{% includeCssResource('roadsign/css/Popup.css') %}

<div id="roadsign-popup" class="modal fitted" style="display: none;">
	<div class="body">
		<div class="texticon search icon">
			<input class="text nicetext fullwidth" type="text" autocomplete="off" placeholder="Search" autofocus=1>
		</div>
		<div class="roadsign-results"></div>
</div>
